<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Login | AutoBids - Automate freelancer bidding with chatgpt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tailwind CSS AI Startup & Technology Saas & AI Software Landing Page Template, ai agency, ai application, ai business, ai, creative ai art, ai it solutions, modern web ai, multipurpose, saas, nft art, nft software, tailwind css." name="description" />
    <meta content="coderthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- style css -->
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bmain.css" rel="stylesheet" type="text/css">
    
    <!-- Icons css -->
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
</head>

<body class="bg-slate-900 relative h-full">
    <div>
        <div class="fixed top-0 -z-10">
            <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
        </div>
        <div class="fixed top-0 end-0 -z-10">
            <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
        </div>
        <div class="fixed inset-0 flex items-center justify-center -z-10">
            <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
        </div>
        <div class="fixed bottom-0 start-0 -z-10">
            <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
        </div>
        <div class="fixed bottom-0 end-0 -z-10">
            <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
        </div>
    </div><!-- end body bg gradient -->

    <section class="flex items-center py-6 px-0 lg:p-10 w-full lg:h-screen">
        <div class="container">
            <div class="backdrop-blur-2xl bg-default-950/40 rounded-2xl overflow-hidden max-w-xl mx-auto">
                <div class="grid lg:grid-cols-1 gap-10">
                    
                    <div class="flex flex-col h-full p-10 justify-center items-center">
                        <div class="pb-10">
                            <a href="/" class="flex justify-center">
                                <h3 class="text-3xl font-medium capitalize text-white text-center">You Are Already Registered</h3>
                            </a>
                        </div>
                        
                            <button  class="btn btn-primary btn-user btn-block" style="margin-top: 10px; width: 100%"> <a style="color: white;" href="https://bidmanpro.com/login">Back to Login</a></button>
                      
                        <div></div>
                    </div> <!-- end col -->
                </div> <!-- end grid -->
            </div> <!-- end bg -->
            
        </div><!-- end container -->
    </section><!-- end section -->

    <!-- footer start -->
    <footer class="2xl:fixed bottom-0 start-0 end-0 py-3">
        <div class="container">
            <p class="text-base font-medium text-center text-default-200">
                <script>document.write(new Date().getFullYear())</script>
                © AutoBids </a>
            </p>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>